.body {
    display: flex;
    min-height: 100vh;
    background-color: #303030;
    margin: 0;
}

.body__calculator {
    margin: 175px auto 0;
}

.header {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 245px;
    z-index: 0;
    border-bottom: solid 3px #989898;
}

.calculator {
    flex-direction: column;
    z-index: 1;
}

.calculator__col {
    display: flex;
    flex-direction: row;
}

.short-col {
    max-width: max-content;
    position: relative;
    top:-70px;
}

.calculator__input {
    text-align: right;
    font-family: "Darker Grotesque";
    background-color: rgb(180, 180, 182), 0;
    border: none;
    margin: 0 5px 15px;
    font-size: 24px;
    width: 265px;
    height: 30px;
    overflow: auto;
}

.calculator__input:focus {
    outline: none; 
}

.calculator__button {
    display: flex-inline;
    color: #2e2e2e;
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 20px;
}

.calculator__result-field {
    text-align: right;
    font-family: "Arial";
    color: #565657;
    font-size: 14px;
    height: 35px;
    overflow: hidden;
    margin: 0 8px;
    white-space: nowrap;
    width: 265px;
}

.long-vert-button {
    height: 130px;
}

.smaller-font {
    font-size: 20px;
}

/* .more-smaller-font {
    font-size: 14px;
} */